name: Regular Container Builds

on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

env:
  BRANCH_MANAGER: ilobmirt
  CONTAINER_NAME: djgpp_container

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: SYSTEM - WHATs local?
        run: |
          ls -hal
      - name: DOCKERHUB - Build our container
        run: |
          echo "IMAGE_ID=$(docker buildx build --tag="$BRANCH_MANAGER/$CONTAINER_NAME:latest" --quiet --squash ./Containerfile)"  >> "$GITHUB_ENV"
      - name: DOCKERHUB - Login
        env:
          LOGIN_USER: ${{ secrets.DOCKER_USER }}
          LOGIN_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          docker login -u $LOGIN_USER -p $LOGIN_PASSWORD
      - name: DOCKERHUB - Push our container
        run: |
          docker push $BRANCH_MANAGER/$CONTAINER_NAME:latest
      - name: GITHUB - login
        env:
          LOGIN_USER: ilobmirt
          LOGIN_PASSWORD: ${{ secrets.GCR_PASSWORD }}
        run: |
          docker login -u $LOGIN_USER -p $LOGIN_PASSWORD ghcr.io
      - name: GITHUB - Re-Label our container
        env:
          TARGET_ID: ${{ env.IMAGE_ID }}
        run: |
          docker tag TARGET_ID ghcr.io/$BRANCH_MANAGER/$CONTAINER_NAME:latest
      - name: GITHUB - Push our container
        run: |
          docker push ghcr.io/$BRANCH_MANAGER/$CONTAINER_NAME:latest
